{% extends "../../store/base.html" %}
{% block title %}
Delete Account
{% endblock title %}
{% block content %}

<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-12">
            <div class="d-flex align-items-center py-5 login">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-7 mx-auto">
                            <h3>Account Deleted!</h3>
                            <p>Your account has been successfully deleted!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}